<body>
  <div class="container">
    <div class="content" style= background-color:white>
      <!-- <h2 class="text-center" style="padding-bottom: 30px;">New Package </h2> -->
      <form #newForm="ngForm" (ngSubmit)="newpackage(newForm.value)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="packageName">Package Name: </label>
            <input type="text" class="form-control" id="packageName" name="packageName"  ngModel placeholder="Enter Package Name">
          </div>
          <div class="form-group col-md-6">
            <label for="no.ofPersons">No.Of Persons: </label>
            <!-- <input type="text" class="form-control" id="no.ofPersons" name="no.ofPersons"  ngModel placeholder="Select No.Of Persons" > -->
            <br>
            <select ng-model="myVar" id="no.ofPersons" class="css">
              <style>
                .css{
                  width: 650px;
                  height: 35px;
                }
              </style>
              <option value="">
              <option value="1">1
              <option value="2">2
              <option value="3">3
            </select>
          </div><br>
          <div class="form-group col-md-6">
            <label for="adult(amount)">Adult(amount): </label>
            <input type="text" class="form-control" id="adult(amount)" name="adult(amount)"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="child(amount)">Child(amount): </label>
            <input type="text" class="form-control" id="child(amount)" name="child(amount)"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="hotelsToStay">Hotels To Stay: </label>
            <!-- <input type="text" class="form-control" id="hotelsToStay" name="hotelsToStay"  ngModel > -->
            <br>
            <select ng-model="myVar" id="hotelsToStay" class="css">
              <option value="">
              <option value="3">3 Star
              <option value="4">4 Star
              <option value="5">5 Star
            </select>
          </div><br>
          <div class="form-group col-md-6">
            <label for="foodType">Food Type: </label>
            <!-- <input type="text" class="form-control" id="foodType" name="foodType"  ngModel > -->
            <br><br>
            <select ng-model="myVar" id="foodType" class="css">
              <option value="">
              <option value="veg">Veg
              <option value="non-veg">Non-Veg
            </select>
          </div><br>
          <div class="form-group col-md-6">
            <label for="no.ofDays">No.Of Days: </label>
            <input type="text" class="form-control" id="no.ofDays" name="no.ofDays"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="numberofNights ">Number of Nights: </label>
            <input type="text" class="form-control" id="numberofNights" name="numberofNights"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="touristPlaces">Tourist Places: </label>
            <input type="text" class="form-control" id="touristPlaces" name="touristPlaces"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="description ">Description: </label>
            <input type="text" class="form-control" id="description" name="description"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="tourDate">Tour Date: </label>
            <input type="date" class="form-control" id="tourDate" name="tourDate"  ngModel >
          </div><br>
          <div class="form-group col-md-6">
            <label for="image">Image: </label>
            <input type="file" class="form-control" id="image" name="image"  ngModel >
          </div><br>
          <!-- <button  class="btn btn-primary btn-block" >Save</button> -->
          <button  class="btn btn-primary btn-block" (click)="save()">Save</button>
        </div>
      </form>
    </div>
  </div>
</body>