<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"> -->
  <div class="navbar navbar-left">
    <div class="admin">
        <i class="fas fa-user-cog"></i>
        <span>Admin</span> 
      </div>
     <div class="aim">
    <ul >
      <li><a routerLink="/newpackage" routerLink="/newpackage"><i class='far fa-folder-open' >    New Package</i></a></li>
      <li><a href="#"><i class='far fa-folder-open'>    Tour Package List</i></a></li>
      <li><a href="#"><i class='far fa-folder-open'>    Customer List</i></a></li>
      <li><a href="#"><i class='far fa-folder-open'>    Booking List</i></a></li>
      <li><a href="#"><i class='far fa-folder-open'>    Cancellation list</i></a></li>
      <li><a  class="logout" routerLink="/login"><i class="fas fa-sign-out-alt" ></i>    Logout</a></li>
    </ul>
  </div>
  </div>
  
  <div class="content" >
    <section>
      <!-- <video src="assets/image/smoke.mp4" autoplay muted></video> -->
      <!-- <h1>
        <span>Xplore</span>
        <span>Before</span>
        <span>Xpire</span>
      </h1> -->
  </section>
   
</div>


