body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
  
  .navbar {
    width: 200px; /* Adjust this value as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #0a0909; /* Set the desired background color */
    position: fixed; /* Keep the navbar fixed */
    top: 0;
    left: 0;
    /* display: flex; */
    align-items:center;
    justify-content: center;
 
  }
  /* video
{
  width: fit-content;
  height: fit-content;
    object-fit: cover;
  
}
 h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left:25%;
  transform: translateY(-50%);
  width: fit-content;
  text-align: center;
  color: #ddd;
  font-size: 4em;
  font-family: sans-serif;
  letter-spacing: .2em;
}  */
  /* h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
    
    -webkit-animation: animate 1s linear forwards;
   
  } */
  /* @keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
}
    100%
{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);

}
}

  h1 span:nth-child(1)
{
    animation-delay: 1s;
}
h1 span:nth-child(2)
{
    animation-delay: 2s;
}
h1 span:nth-child(3)
{
    animation-delay: 3s;
} */
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .admin {
    text-align:initial;
   color: white;
    padding: 10px;
  }
  .admin i {
    margin-right: 5px; /* Adjust the spacing as needed */
  }
  .navbar li {
    padding: 10px;
  }
  
  .navbar li a {
    
    text-decoration: none;
    color:white; /* Set the desired link color */
  }
   .aim{
    
    margin-top: 150px;
    align-items: left;
    justify-content:justify;
    
  } 
  
  .content {
   
    margin-left: 200px; /* Same width as the navbar */
    padding: 20px;
  }
   