<head>
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        @keyframes rotateImage {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .animated-image {
    animation-name: rotateImage;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
    </style>
</head>

<body >
<img src="assets/FinalImages/logo.jpeg" alt="Avatar" width="180px" height="180px"  class="animated-image"><br>
<br><br><div class="container" >
  
  
    <div class="btn-group" class="a">
      <button type="button" class="btn btn-primary"><a routerLink="/register">SignUp</a></button>
      <button type="button" class="btn btn-primary"><a routerLink="/login">SignIn</a></button>
     
    </div>
</div><br><br>
 
<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" class="g">
    <div>
        <strong>EmailId: </strong>
      <br/><br>
</div>
<div>
    <!-- <input type="text"     name="emailId"   class="curved-input" ngModel /><br> -->
    <input type="text"  class="curved-input" type="mail"  name="mail"   ngModel #mail="ngModel" required  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9-.]+$" minlength="2" maxlength="20">
       
    <div *ngIf="loginForm.controls?.['mail']?.errors?.['pattern'] && loginForm.controls?.['mail']?.touched" class="alert alert-danger">
     <h6>Invalid email format</h6>
 </div>
 <!-- <div></div><br> -->
</div><br>
<div>
<strong> Password: </strong>
</div><br>
<div>
    <input type="password" name="password"  class="curved-input" ngModel/>
</div><br>

<br/>
<div class="h">
<button type="submit" class="btn btn-primary" width="50px"  class="v" > Login </button>
</div>
<br>
<div>
    Dont't have an account?
</div>
<div >
    Click on <strong>SignUp</strong> button to register
</div>
<!-- <div></div> -->
</form>
</body>