img {
    border-radius: 50%;
   margin-left: 1100px;
   
  }
  .a{
    margin-left: 900px;
  }
  .g{
    margin-left: 1100px;
  }
  .curved-input {
    border-radius: 10px; /* Adjust the value to control the amount of curvature */
    padding: 10px; /* Add some padding to make it visually appealing */
    border: 1px solid #ccc; /* Add a border for better visibility */

  }
  .curved-input:hover {
    border-color: #666; /* Change border color on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a box shadow on hover */
  }
  a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the text color from the parent */
    text-decoration-color: white;
  }
  form{
    margin-left: 600px;
  }
  body{
    height: 1000px;
    background-image:url("https://img.freepik.com/free-vector/flat-travel-background_23-2148050086.jpg?w=1060&t=st=1684338259~exp=1684338859~hmac=5176d3ce62e04d62d3923705b41f13bbc24cd9dd3a34714385ded41744e9952d");
 background-color: antiquewhite;
    background-repeat: no-repeat; 
    
  } 
 

  .button :hover{
    width:500px;
    padding-right: 500px;
    
  }
  strong{
    font-size: 15px;
  }
  .h:hover{
    margin-left: 30px;

  }
  .v{
    padding-right: 50px;
    margin-left: 10px;
    padding-left: 50px;
    background-color: rgba(153, 205, 50, 0.571);
  }
    /* form{
    margin-right: 800px;
  }    */
  .container {
    margin-left: auto; /* Add margin to move the container to the right */
    margin-right: 20px; /* Adjust the margin value as needed */
  }