<head>
    <link rel="stylesheet" href="register.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div  class="container">
        <video preload="auto" autoplay loop muted plays-inline class="background-clip">
      <source src="assets/FinalImages/travelfinal.mp4"  type="video/mp4">

        </video>
    </div>
    
       <div class="content"> 
       
    <form #regForm="ngForm" (ngSubmit)="register(regForm.value)" id="k"  class="tal"  novalidate >
        <h1 align="center">REGISTRATION</h1> 
        <div id="a" >
            
       
       <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  class="form-control" placeholder="Enter name" name="name"  ngModel  />
        
        </div><br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
           
       <input  class="form-control" type="mail" placeholder="john@gmail.com" name="mail"   ngModel #mail="ngModel" required  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9-.]+$" minlength="2" maxlength="20">
       
       <div *ngIf="regForm.controls?.['mail']?.errors?.['pattern'] && regForm.controls?.['mail']?.touched" class="alert alert-danger">
        <h6>Invalid email format</h6>
    </div>
        <div *ngIf="mail.errors?.['required'] && mail.touched && mail.invalid "> <h3 style="color: red;"> Please Enter EmailId </h3></div> 
       
        </div><br>
        
        
        
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input class="form-control" placeholder="+91" name="phoneNumber" ngModel #phoneNumber="ngModel" required pattern="^[6-9]\d{9}$"  minlength="10" maxlength="10">
            
            <div *ngIf="regForm.controls?.['phoneNumber']?.errors?.['pattern'] && (regForm.controls?.['phoneNumber']?.dirty || regForm.controls?.['phoneNumber']?.touched)" class="alert alert-danger">
              <h6>Please enter a valid mobile number starting with 6,7,8 or 9.</h6><h3>Please Enter phoneNumber </h3></div>
              <div *ngIf="phoneNumber.errors?.['required'] && phoneNumber.touched"> <h3 style="color: red;"> Please Enter Atleast 10 digits </h3></div>
            <div *ngIf="phoneNumber.errors?.['maxlength'] && phoneNumber.touched"> <h3 style="color: red;"> Please Enter Atleast 10 digits </h3></div>
            <div *ngIf="phoneNumber.errors?.['minlength'] && phoneNumber.touched"> <h3 style="color: red;"> Please Enter Atleast 10 digits </h3></div>
          
          </div><br>
       
        
       <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-venus"></i></span>
        <select name="gender" ngModel class="form-control">
            <option value="">Select Gender</option>
            <option value="Female">Female</option>
            <option value="male">Male</option>
       
           </select>
       </div><br>
    
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
         <input  type="Date" name="doj" ngModel/>
    </div><br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
        <select name="country" ngModel class="form-control">
            <option value=""> Select Country </option>
            <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
          </select>
    </div><br>
    
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" type="password" name="password" placeholder="password" ngModel #password="ngModel" required  minlength="2" maxlength="8">
        <div *ngIf="password.errors?.['required'] && password.touched"> <h2 style="color: red;"> Please Enter password </h2></div>
        <div *ngIf="password.errors?.['minlength'] && password.touched"> <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3></div>
        <div *ngIf="password.errors?.['maxlength'] && password.touched"> <h3 style="color: red;"> Please Enter Atleast 8 Characters </h3></div>
      </div><br>
   <div>
    <form  [formGroup]="aFormGroup"  required>
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          
          formControlName="recaptcha" [(ngModel)]="captchaResponse" >
        </ngx-recaptcha2>
        
    
      </form>
      </div> 
    <div class="input-group" id="s">
        <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
        <!-- <button class="form-control" class="btn-success" (click)="openModal()">Create Account</button> -->

        <button  class="btn btn-success" [disabled]="!regForm.valid" >Create Account</button>



    </div><br>
    Do you already have an account?<a routerLink="/login">Login</a>
        
        </div>
    </form>
  </div>
  </body>

