
input {
    width: 350px;
}
#a{
margin-top: 50px;
border-style: inset;
background-color: rgba(255, 255, 255, 0.7);
width:500px;
padding: 25px;
height: 700px;


}
video {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    object-fit: cover;
}
.container{
/* padding: 45px; */
/* width: 500%;
height: 400vh; */
/* background-color: #ccc; */
 /* display: flex;  */
align-items: center;
justify-content: center;
margin-left: 10px;
padding-top: 65px;
}
#k{
    line-height: 30px;
    /* padding-top: 50px; */

}
.s{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

/* Additional styling for other content */
 .content {
   position: absolute; 
  top: 50%;
  left: 50%;
  width:400px;
  padding:40px;
  transform: translate(-50%,-50%);
  /* background-color: rgba(0,0,0,0.5); */
  /* box-sizing: border-box; */
  /* box-shadow: 0 15px 25px rgba(0,0,0,0.6); */
  border-radius: 10px;
  /* margin-right: 25px; */
} 
form{
    padding-left:25px;
    align-items: center;
}
/* #x{
    width: 1000px;
    height: 1000px;
} */
/* *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins';
} */
.tal{
    padding: 25px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button:hover {
    background-color: #4CAF50;
    color: white;
  }
  h1 { 
    margin-left: 100px; 
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 44px; } h3 { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; 
    margin-top: 50px;
    }
    .modal-button {
        cursor: pointer;
      }
      
      .modal.fade .modal-dialog {
        transform: translate(0, -50%);
        top: 50%;
        transition: transform 0.3s;
      }
      
      .modal.fade.show .modal-dialog {
        transform: translate(0, 0);
      }
      
      .modal-content {
        background-color: #fff;
        border-radius: 4px;
      }
      
      .modal-title {
        font-size: 18px;
        margin-bottom: 0;
      }
      
      .modal-header .close {
        font-size: 24px;
      }
      
      .modal-body,
      .modal-footer {
        padding: 10px;
      }
      
      .modal-footer {
        text-align: right;
      }
      .glyphicon {
        font-size: 20px; /* Adjust the font size to your desired size */
        width: 20px; /* Adjust the width to your desired size */
        height: 20px; /* Adjust the height to your desired size */
      }